[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
ujson = "*"
django-environ = "*"
psycopg2 = "*"
drf-yasg = "*"
psycopg2-binary = "*"
django-extensions = "*"
sentence-transformers = "*"
pgvector = "*"
gdal = "*"

[dev-packages]

[requires]
python_version = "3.11"
